<div class="footer">
  <div class="container d-flex justify-content-center">
    <div class="footer-links">
      <a href="https://github.com/victoria-vassi"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/victoria.codes/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/victoriavassileva/"><i class="fab fa-linkedin"></i></a>
      <a href="mailto:victoria.vassileva@yahoo.fr"> <i class="far fa-envelope"></i></a>
    </div>
  </div>
</div>
