<nav id ="navbar">
  <div class="left">
     <img href="home" src="assets/logo.png" alt="logo" height="42" width="42">
  </div>

  <div class="right">
    <a class="nav-link" href="home" >  Home </a>
    <a class="nav-link" href="#work" >  Portfolio </a>
    <a class="nav-link" href="blog" > Blog </a>
    <a class="nav-link" href="about" > About me </a>
  </div>
</nav>





