<nav id ="navbar">
  <div class="left">
     <img src="assets/logo.png" alt="logo" height="42" width="42">
  </div>

  <div class="right">
    <a class="nav-link" href="#about" >  Home </a>
    <a class="nav-link" href="#work" >  Portfolio </a>
    <a class="nav-link" href="#contact" > Blog </a>
    <a class="nav-link" href="#contact" > About me </a>
  </div>
</nav>



