
<!-- ABOUT ME -->
<section class="section section_about">
  <div class="banner">
    <div class="container">
      <div class="about">
        <div class="col">
          <h1> About me </h1>
          <p> My name is Victoria Vassileva and I am a junior Full-Stack developer.
          Originally from Bulgaria, I was born and raised in Switzerland.
          After completing my biliangual (French & English) international baccalaureate,
          I moved to England where I pursued a bachlor degree in Business&Management and a
          masters degree in Management of Information Systems and Digital Innovation. </p>
          <h2>A few fun facts about myself</h2>
          <ul>
            <li>Climbed Mt Kilimanjaro twice</li>
          </ul>
        </div>
        <div class="col about-img">
          <img src="assets/demo.JPG" alt="logo" class="img">
        </div>
      </div>
    <%= render 'shared/footer' %>
  </div>
</section>

