<!-- NAVBAR -->

<!-- BLOG POST -->

<!--- FOOTER -->
<div class="footer">
  <div class="container d-flex justify-content-between">
    <div class="footer-links">
      <a href="https://github.com/victoria-vassi"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/victoria.codes/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/victoriavassileva/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
