<!-- WELCOME -->
<section class="section section_home">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddjh71lig/image/upload/v1588513829/Avant%20Garde/IMG_8689_jofh9o.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <h1> Hello World! </h1>
        <p> My name is Victoria and I am a junior Full-Stack developer who has experience in HTML, CSS, Javascript, Ruby on Rails and React. </p>
        <button class="home-button"> View my resume </button>
      </div>
      <div class="col">
       <!--  <img src="assets/new.png" alt="logo" class="img"> -->
      </div>
  </div>
</div>
</section>


<!-- PORTFOLIO-->

<section class="section section_portfolio">
  <div class="container">
    <div class="row row-home">
      <h1> Portfolio </h1>
    </div>

    <div class="container justify-content-center">
      <div class="cards p-3">

        <div class="wrapper" style="background-image: url(https://res.cloudinary.com/ddjh71lig/image/upload/v1588506466/Avant%20Garde/Untitled_design_2_kyliil.png)">
            <a href="/cocktails/1">Avant / Garde </a>
          </div>

        <div class="wrapper" style="background-image: url(https://res.cloudinary.com/ddjh71lig/image/upload/v1588506319/Avant%20Garde/Untitled_design_1_v11gpl.png)">
            <a href="/cocktails/2">Magic: The Gathering Card Rental</a>
        </div>


        <div class="wrapper" style="background-image: url(https://res.cloudinary.com/ddjh71lig/image/upload/v1588506712/Avant%20Garde/kari-shea-1SAnrIxw5OY-unsplash_d0ejmw.jpg)">
            <a href="/cocktails/3">Rennaisance</a>
        </div>


         <div class="wrapper" style="background-image: url(https://res.cloudinary.com/ddjh71lig/image/upload/v1588506712/Avant%20Garde/kari-shea-1SAnrIxw5OY-unsplash_d0ejmw.jpg)">
            <a href="/cocktails/4">Cocktail Club</a>
          </div>

        <div class="wrapper" style="background-image: url(https://res.cloudinary.com/ddjh71lig/image/upload/v1588506712/Avant%20Garde/kari-shea-1SAnrIxw5OY-unsplash_d0ejmw.jpg)">
            <a href="/cocktails/5">Andromeda Advisory</a>
        </div>


        <div class="wrapper" style="background-image: url(https://res.cloudinary.com/ddjh71lig/image/upload/v1588506712/Avant%20Garde/kari-shea-1SAnrIxw5OY-unsplash_d0ejmw.jpg)">
            <a href="/cocktails/7">Margarita Strawberry</a>
        </div>


      </div>
    </div>

  </div>
</section>

<!-- BLOG POST -->

<section class="section section_portfolio">
  <div class="container">
    <div class="row row-home">
      <h1> Blog </h1>
    </div>

    <div class="container justify-content-center">
      <div class="cards p-3">

      <div class="card-trip">
        <div class="wrapper" style="background-image: url(https://res.cloudinary.com/ddjh71lig/image/upload/v1588514186/Avant%20Garde/IMG_8677_bdji2r.jpg)">
          </div>
          <div class="card-trip-infos">
            <div>
              <h2> My experience at Le Wagon </h2>
              <p><i>Thu 21, 2019</i></p>
              <p>Short description here!</p>
            </div>
          </div>
        </div>


       <div class="card-trip">
        <div class="wrapper" style="background-image: url()">
          </div>
          <div class="card-trip-infos">
            <div>
              <h2>Title here</h2>
              <p>Short description here!</p>
            </div>
          </div>
        </div>


      <div class="card-trip">
        <div class="wrapper" style="background-image: url()">
          </div>
          <div class="card-trip-infos">
            <div>
              <h2>Title here</h2>
              <p>Short description here!</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div>
      <a href="/cocktails/4">See more</a> <i class="fas fa-arrow-right"></i>
    </div>

  </div>
</section>


<!--- FOOTER -->

<%= render 'shared/footer' %>


