<!-- NAVBAR -->

  <%= render 'shared/navbar' %>


<!-- WELCOME -->
<section class="section section_home">
<div class="banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <h1> Hello World! </h1>
        <p> My name is Victoria and I am a junior Full-Stack developer who has experience in HTML, CSS, Javascript, Ruby on Rails and React. </p>
        <button class="home-button"> View my resume </button>
      </div>
      <div class="col">
        <img src="assets/new.png" alt="logo" class="img">
      </div>
  </div>
</div>
</section>


<!-- PORTFOLIO-->

<section class="section section_portfolio">
  <div class="container">
    <div class="row row-home">
      <h1> Portfolio </h1>
    </div>

    <div class="container justify-content-center">
      <div class="cards p-3">

        <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddjh71lig/image/upload/v1571993235/snxhflvzadylumcbxkyy.jpg)">
            <a href="/cocktails/1">Avant / Garde </a>
          </div>

        <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1650&amp;q=80)">
            <a href="/cocktails/2">Magic: The Gathering Card Rental</a>
        </div>


        <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551751299-1b51cab2694c?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1655&amp;q=80)">
            <a href="/cocktails/3">Rennaisance</a>
        </div>


         <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddjh71lig/image/upload/v1571993369/l3tjitf2clzhasbhequj.jpg)">
            <a href="/cocktails/4">Clover Club</a>
          </div>

        <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514361892635-6b07e31e75f9?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1650&amp;q=80)">
            <a href="/cocktails/5">Dark &#39;n&#39; Stormy</a>
        </div>


        <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1586&amp;q=80)">
            <a href="/cocktails/7">Margarita Strawberry</a>
        </div>

      </div>
    </div>

  </div>
</section>

<!-- BLOG POST -->

<section class="section section_portfolio">
  <div class="container">
    <div class="row row-home">
      <h1> Blog </h1>
    </div>

    <div class="container justify-content-center">
      <div class="cards p-3">

        <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url()">

          </div>

        <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url()">

        </div>


        <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url()">

        </div>

      </div>
    </div>

  </div>
</section>

<!-- ABOUT ME-->


<section class="section section_portfolio">
  <div class="container">
    <div class="row row-home">
      <h1> About me </h1>
    </div>

  </div>
</section>

<!--- FOOTER -->

<%= render 'shared/footer' %>


