<!-- NAVBAR -->

    <%= render 'shared/navbar' %>


<!-- WELCOME -->

<section class="section section_home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <h1> Hello World! </h1>
        <p> My name is Victoria and I am a full stack developer </p>
        <button class="home-button"> View my resume </button>
      </div>
      <div class="col">
        <img src="assets/home.png" alt="logo" >
      </div>
    </div>
  </div>
</section>




<!-- PORTFOLIO-->

<!-- BLOG POST -->

<!-- ABOUT ME-->

<!--- FOOTER -->
<%= render 'shared/footer' %>

