<!-- NAVBAR -->
<%= render 'shared/navbar' %>
<!-- WELCOME -->

<div class="container">
  <div class="row">
    <div class="col-8">
      <h1> Hello World! </h1>
      <p> My name is Victoria and I am a full stack developer </p>
      <button> View my resume </button>
    </div>
    <div class="col-4">
      <%= image_tag "home.png" %>
    </div>
  </div>
</div>



<!-- BLOG POST -->

<!--- FOOTER -->
<%= render 'shared/footer' %>

