.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  width: 100vw;
  height: 100vh;
  // object-fit: cover;
  // object-position: top;
  // position: absolute;
  // top: 0;
  // text-align: center;
  // padding: 200px;
  // width: 100vw;
  // height: 100vh;
  // color: white;
  // margin-top: 90px;
}

.img {
  height: 70vh;
}
