.navbar {
  position:fixed !important;
  width:100%;
  padding:20px !important;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.selection_home {
  height:100%;
}

.navbar-nav{
  flex: auto;
}

.bg-transparent {
  transition: 750ms ease;
  background: transparent;
}

.bg-transparent.scrolled{
  background: white !important;
}
