#navbar {
  position:fixed;
  width:100%;
  padding:20px;
  justify-content:flex-end;
  display:flex;
  top: 0;
  left: 0;
  justify-content: space-between;

  padding-left: 80px;
  padding-right: 80px;
}

.nav-link{
  text-decoration: none;
  color:black;
  list-style-type: none;
  padding-right:100px;
  display: inline !important;
}

.selection_home {
  height:100%;
}
